.text {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: var(--brand-color-tertiary);
}

.link {
    color: var(--brand-color-primary);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1024px) {
    .text {
        justify-content: center;
    }
}