.main {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 960px;
}

@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column;
    }
}

.leftPanel {
    flex: 1;
    background: var(--surface-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 40px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--brand-color);
}

.subTitle {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
}

.description {
    font-size: 15px;
    opacity: 0.6;
}

.welcomeCard {
    width: 320px;
    height: 117px;
    padding: 0 20px;
    border-radius: 20px;
    background: var(--green-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-size: 13px;
}

.cardTitle {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    color: var(--brand-color-secondary);
}

.amount {
    font-size: 24px;
    font-weight: 700;
    color: var(--brand-color);
}

.benefitList li {
    position: relative;
    padding-left: 16px;
    font-size: 15px;
    color: var(--black-color);
}

.benefitList li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--brand-color-primary);
    transform: translateY(-50%);
}

.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background: var(--base-color);
}

.login {
    width: 500px;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
}

.formArea {
    display: flex;
    flex-direction: column;
    gap: 16px;
}