.pageHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    color: var(--black-color);
    font-weight: bold;
    font-size: 24px;
}

.description {
    color: var(--brand-color-secondary);
    font-size: 15px;
}

.big .title {
    font-size: 32px;
}

.big .description {
    font-size: 17px;
}

.left {
    text-align: left;
}