.container {
    margin: 48px auto;
    width: 720px;
}
@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

.onboarding {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.skip {
    text-align: center;
    cursor: pointer;
    color: var(--brand-color-secondary);
    transition: all 0.2s;
}

.skip:hover {
    color: var(--black-color);
}