.btn {
    width: 100%;
    height: 38px;
    padding: 0 19px;
    border-radius: 19px;
    white-space: nowrap;
    border: 1px solid var(--brand-color-primary);
    color: var(--brand-color-primary);
    cursor: pointer;
}

.btn:hover {
    background: var(--surface-color);
    transform: all 0.2s
}

.btn.active {
    background: var(--brand-color-primary);
    color: white;
}