.transactionSection {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 28px;
    overflow: hidden;
}

.transactionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px;
    border-bottom: 1px solid var(--border-color);
}

.transactionTitle {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
}

.more {
    font-size: 15px;
    color: var(--brand-color-tertiary);
    cursor: pointer;
}

.transactionList {
    display: flex;
    flex-direction: column;
}

.transactionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 1024px) {
    .transactionItem {
        flex-direction: column;
    }
}

.transactionItem:last-child {
    border-bottom: none;
}

.transactionLeft {
    display: flex;
    align-items: center;
    gap: 18px;
}
@media screen and (max-width: 1024px) {
    .transactionLeft {
        width: 100%;
    }
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}

.deposit {
    background-color: var(--green-color);
    color: var(--black-color);
}

.withdraw {
    background-color: var(--surface-color);
    color: var(--brand-color-secondary);
}

.transactionInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.transactionName {
    font-size: 15px;
    color: var(--black-color);
}

.transactionDescription {
    font-size: 13px;
    color: var(--brand-color-tertiary);
}

.amount {
    font-size: 18px;
    font-weight: 600;
}
@media screen and (max-width: 1024px) {
    .amount {
        width: 100%;
        text-align: right;
    }
}

.plus {
    color: var(--green-color);
}

.minus {
    color: var(--black-color);
}