.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    grid-column: 1 / -1;
}
.img {
    width: 80px;
    height: 80px;
}
.img img {
    width: 100%;
    height: auto;
}
.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 135%;
}
.desc {
    color: var(--brand-color-secondary);
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}