.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}
main {
    padding: 64px 0 0;
}
.mainLayout {
    display: flex;
    flex: 1;
    padding-left: 270px;
}


.hide {
    display: none;
}

@media screen and (max-width: 1024px) {

    .mainLayout {
        padding-left: 0;
    }
    .hide {
        display: flex;
    }
}